[Desktop Entry]
Name=GtkBalls
Comment=Simple logic game
Comment[pl]=Prosta gra logiczna
Exec=gtkballs
Icon=gnome-gtkballs
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;Game;LogicGame;
# vi: encoding=utf-8
